body{
    background:black;
    font-family:Arial, Helvetica, sans-serif;
    
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width: 19%;
    padding:10px; 
    margin:25px;
    padding:20px;
    background:#F2C744;
    border-radius: 5px;
}

.assignment img {
    width:250px;
    height:250px;
    margin: 10px; 
    border: 3px solid black;
    display:block; 
    margin:auto; 
}

.assignment img:hover {
    border: 3px solid white; 
}

h1 {
    color: white;
    text-align:center;
}

h1:hover {
    color: #F2C744;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color: black; 
}

a:hover {
    color:#fff;
}   